# CDEK API v2
# Sandbox: https://api.edu.cdek.ru/v2  |  Production: https://api.cdek.ru/v2
CDEK_API_URL=
CDEK_CLIENT_ID=
CDEK_CLIENT_SECRET=

# Yandex Maps JS API (получить на developer.tech.yandex.ru)
NEXT_PUBLIC_YANDEX_MAPS_KEY=
